html {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: block;
}

.profile {
    float: right;
}

.profile img {
    width: 5vw;
}

nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

